body {
	font-family: 'Titillium Web', sans-serif;
}

ul {
	list-style-type: square;
}

#resume ul {
	display: inline-block;
}

.navbar {
	min-height: 80px;
}

.profile {
	border-radius: 50%;
	border: 5px dotted white;
}

#main {
	padding-top: 150px;
}

.header {
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 30px;
}

#info {
	background-color: rgb(48, 10, 36);
	padding: 20px;
	border-top: 25px #404040 solid;
	border-radius: 5px;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 20px;
	max-width: 900px;
	margin: 0 auto;
}

#resume-box, 
#projects-text {
	padding: 20px;
	max-width: 900px;
	margin: 0 auto;
}

#resume-box h2 {
	font-size: 23px;
	padding-bottom: 5px;
	padding-top: 20px;
	text-transform: uppercase;
}

#resume-box h3,
#projects h3 {
	line-height: 20px;
	font-size: 14px;
	text-transform: uppercase;
}

#projects a {
	color:#8ce5ff;
	text-decoration: underline;
}

#resume-box h4 {
	line-height: 20px;
	font-size: 14px;
}

.information img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border: 0.1px transparent;
	border-radius: 50%;
}

.information img:hover {
	-webkit-filter: grayscale(0%);
	filter: none;
}

#resume-box .information,
#projects .information {
	padding-top: 10px;
	padding-bottom: 10px;
}

#footer {
	padding-top: 15px;
	padding-bottom: 15px;
}

.bg-1 {
	background-color: #d6a0a1;
	color: white;
}

.bg-2 {
	background-color: #556b8e;
	color: white;
}

.bg-3 {
	background-color: #f2f2f2;
	color: black;
}

.bg-4 {
	background-color: #a33553;
	color: white;
}

.bg-5 {
	background-color: #000033;
	color: white;
}

.welcome {
	margin-top: 20px;
	font-size: 40px;
	
}

#footer {
	font-size: 11px;
	text-transform: uppercase;
}

#footer p {
	margin-bottom: 0;
}

#footer a {
	color: white;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

#languages div {
	display: inline-block;
	margin-left: 10px;
}

#languages p {
	border: 1px dashed black;
	border-radius: 15px;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
}

#java p:hover {
	background-color: red;
	border-color: red;
	color: white;
}

#c p:hover {
	background-color: #5c5cd6;
	border-color: #5c5cd6;
	color: white;
}

#html p:hover {
	background-color: #e65c00;
	border-color: #e65c00;
	color: white;
}

#css p:hover {
	background-color: #007acc;
	border-color: #007acc;
	color: white;
}

#javascript p:hover {
	background-color: #cca300;
	border-color: #cca300;
	color: white;
}

#photoshop p:hover {
	background-color: #0099ff;
	border-color: #0099ff;
	color: white;
}

#mysql p:hover {
	background-color: orange;
	border-color: orange;
	color: white;
}