body {
	font-family: 'Titillium Web', sans-serif;
}

#resume ul {
	display: inline-block;
}

.navbar {
	min-height: 80px;
}

#main {
	padding-top: 150px;
}

.header {
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 30px;
}

#info {
	background-color: rgb(48, 10, 36);
	padding: 20px;
	border-top: 25px #404040 solid;
	border-radius: 5px;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 20px;
	max-width: 900px;
	margin: 0 auto;
}

#resume-box, 
#projects {
	padding: 20px;
	max-width: 900px;
	margin: 0 auto;
}

#resume-box h2 {
	font-size: 23px;
	padding-bottom: 5px;
	padding-top: 20px;
	text-transform: uppercase;
}

#resume-box h3,
#projects h3 {
	line-height: 20px;
	font-size: 14px;
	text-transform: uppercase;
}

#projects a {
	color:#8ce5ff;
	text-decoration: underline;
}

#resume-box h4 {
	line-height: 20px;
	font-size: 14px;
}

.information img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border: 0.1px transparent;
	border-radius: 50%;
}

.information img:hover {
	-webkit-filter: grayscale(0%);
	filter: none;
}

#resume-box .information,
#projects .information {
	padding-top: 10px;
	padding-bottom: 10px;
}

.bg-1 {
	background-color: #958d9b;
	color: white;
}

.bg-2 {
	background-color: #556b8e;
	color: white;
}

.bg-3 {
	background-color: white;
	color: black;
}

.bg-4 {
	background-color: #a33553;
	border-radius: 5px;
	color: white;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}